form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 28px;
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 12px;
}
.form-group label {
  flex: 0 0 30%;
  max-width: 30%;
}

.form-group input[type="checkbox"] {
  width: fit-content;
  flex: 0 0 fit-content;
  margin-right: 12px;
}

.form-group input {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 9px 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}
.form-group button {
  padding: 12px 24px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.form-group a {
  width: 100%;
  display: block;
  color: #006eff;
  text-align: center;
}

.form-group.avatar {
  max-width: 180px;
  height: 180px;
  border-radius: 6px;
  overflow: hidden;
}

.form-group.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-img {
  max-width: 240px;
  max-height: 240px;
  flex: 0 0 240px;
  border-radius: 6px;
  overflow: hidden;
}

.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
