.cart-contai {
  justify-content: space-around;
}

.cart-item {
  margin-left: unset;
  margin-right: unset;
  flex-wrap: nowrap;
}

.prod-list {
  flex: 0 0 50%;
  max-width: 50%;
}

.cart-prod-item {
  margin-top: 12px;
  flex: 0 0 100%;
  max-width: 100%;
  height: 240px;
  border-bottom: 1px solid #ccc;
  border-radius: 6px;
}

.prod-img {
  flex: 0 0 240px;
  max-width: 240px;
  height: 240px;
  overflow: hidden;
  padding: 4px;
}

.prod-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prod-info {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 24px;
}

.prod-info .size {
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 1.6rem;
}

.prod-info .size span {
  font-weight: bold;
  font-size: 1.8rem;
}

.prod-info h3 {
  text-transform: uppercase;
  font-size: 2rem;
}

.prod-info .quantityInp {
  padding: 12px 8px 12px 24px;
  max-width: 80px;
  border: 1px solid #333;
  cursor: pointer;
  outline: none;
}

.prod-total {
  flex: 0 0 15%;
  max-width: 15%;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-action {
  flex: 0 0 calc(100% - (55% + 240px));
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-action button {
  padding: 12px 24px;
  outline: none;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.cart-checkout {
  margin-top: 12px;
  flex: 0 0 30%;
  max-width: 30%;
  height: fit-content;
}
.payment-sumary,
.cart-sumary {
  font-size: 1.6rem;
  border: 1px solid #ccc;
  padding: 16px;
}

.payment-sumary .subtotal,
.payment-sumary .delivery,
.payment-sumary .total,
.cart-sumary .subtotal,
.cart-sumary .delivery,
.cart-sumary .total {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
