
        .row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        ul.prod_item {
            padding: 12px 24px;
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: flex-start;
        }

        ul.prod_item:nth-child(2n +1) {
            background-color: #eee;
        }

        ul.prod_item li {
            text-align: center;
            width: calc(100% /3);
            overflow: hidden;
        }

        .prod-list {
            height: 90vh;
            overflow-y: auto;
        }

        .title {
            height: 7vh;
        }

        li.id {
            flex: 0 0 5%;
            max-width: 5%;
        }

        li.user-info {
            flex: 0 0 35%;
            max-width: 35%;
        }

        li.user-info ul {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        li.user-info ul li {
            flex: 0 0 100%;
            max-width: 100%;
            width: unset;
        }

        li.products {
            flex: 0 0 35%;
            max-width: 35%;
            padding-right: 24px;
        }

        li.products ul li {
            width: 100%;
        }

        li.total,
        li.action {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        li.action {
            flex: 0 0 4%;
            max-width: 4%;
        }

        li.total {
            flex: 0 0 10%;
            max-width: 10%;
            font-weight: bold;
            font-size: 18px;
        }

        li.status {
            flex: 0 0 11%;
            max-width: 11%;
        }

        li.products .receipt-item h4 {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: left;
        }

        li.products .receipt-item .qty {
            flex: 0 0 60%;
            max-width: 60%;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
        }

        li.products .receipt-item .qty span {
            color: red;
            font-weight: bold;
        }

        li.products .receipt-item .subtotal {
            font-style: italic;
        }
        li.products .receipt-item .total {
            text-align: right;
            border-bottom: 1px solid #ccc;
        }
        