.table-order-detail {
  table-layout: fixed;
}
.table-order-detail tr {
  border-top: 1px solid rgb(219, 219, 219);
}
.table-order-detail tr:first-child {
  border-top: none;
}
.table-order-detail tr td:first-child {
  width: 142px;
}
.table-order-detail td {
  padding: 15px 5px 5px 5px;
  overflow-wrap: break-word;
}

.order-status span {
  padding: 6px;
}
