.user-container {
  width: 30%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 300ms ease;
  opacity: 0;
}

.user-container .user-close-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  cursor: pointer;
  transition: all 200ms ease;
  padding: 12px 24px;
}

.user-container .user-close-icon:hover {
  transform: translateX(12px);
}

.user-container.active {
  transform: scaleX(1);
  opacity: 1;
}
