@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #141414;
  --bg-color-white: #fff;
  --primary-color: #ff6800;
  --bg-color: #000;
  --text-white: #fff;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform-origin: top;
  z-index: 2;
}

header.is-fixed {
  background-color: var(--bg-color-white);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  animation: dropdown 300ms ease;
}

@keyframes dropdown {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.logo {
  flex: 0 0 20%;
  overflow: hidden;
  font-size: 36px;
  font-family: "Lily Script One", cursive;
}

.logo img {
  display: block;
}

nav {
  flex: 0 0 50%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul .cart-icon,
nav ul .user-icon {
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 200ms ease;
}
nav ul .cart-icon:hover,
nav ul .user-icon:hover {
  transform: scale(1.15);
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: scale 4000ms ease;
}

@keyframes scale {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider-content h3 {
  font-size: calc(3vw + 3vh);
  white-space: nowrap;
  color: var(--text-white);
  text-transform: uppercase;
}

.slider-content p {
  color: var(--text-white);
  font-size: 16px;
}

.content {
}

.favourite {
  min-height: 100vh;
}

section {
  padding: 24px;
  min-height: 100vh;
}

section .title {
  margin-bottom: 28px;
  font-size: calc(1vw + 1vh);
  white-space: nowrap;
  color: var(--text-color);
  text-align: left;
  width: 100%;
  overflow: hidden;
}

.cate .title {
  flex: 0 0 100%;
  text-align: center;
  font-size: calc(2vw + 2vh);
}

.cate .desc {
  margin: 0 auto;
  flex: 0 0 60%;
  text-align: center;
  font-size: 18px;
}

.cate .cate-item {
  margin-top: 24px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
  padding: 12px;
}

.cate-img {
  width: 100%;
  overflow: hidden;
}

.cate-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cate-content {
  padding-top: 24px;
  text-align: center;
}

.cate-content h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 6px;
  font-weight: 600;
}

.cate-content p {
  color: #999;
  font-weight: 600;
  font-size: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

section .container {
  /* padding-top: 60px; */
  /* padding-bottom: 70px; */
}

footer {
  margin-top: 12px;
  padding-top: 48px;
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

footer .foot-logo h3 {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 36px;
  font-family: "Lily Script One", cursive;
}

footer .foot-logo p {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
}

footer .foot-col {
  margin-top: 24px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
  padding: 12px;
}

footer .foot-col .title {
  font-size: 18px;
  margin-bottom: 16px;
  text-align: center;
}

footer .foot-col input {
  padding: 12px 24px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

footer .foot-col p {
  margin-top: 12px;
  font-size: 16px;
}

footer .foot-col p a {
  color: #ff6800;
}

footer .foot-col .contact p {
  color: #555;
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
}

footer .foot-col .social {
  max-width: fit-content;
  margin: 0 auto;
}

footer .foot-col .social a {
  color: #555;
  font-size: 24px;
  margin-right: 12px;
}

footer .copyright {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  padding: 12px;
  background-color: #ccc;
}

footer .copyright p {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
